.center-text{
    text-align: center;
}

/* https://stackoverflow.com/questions/15167545/how-to-crop-a-rectangular-image-into-a-square-with-css */
.square-image{
    object-fit: cover;
}

.menu-item-name{
    font-size: 1.75vh;
    font-weight: bold;
}

.menu-item-description{
    font-size: 1.5vh;
}

.cursive-text{
    font-size: 2.5vh;
    color: red;
    font-family: "Allura", serif;
    font-weight: 400;
    font-style: normal;
}

.tagline-text{
    font-size: 3vh;
}

.h-40{
    height: 40%;
}

.w-40{
    width: 40%;
}

.price-text{
    font-size: 1.5vh;
}

.add-button{
    font-size: 1.5vh;
}