body {
    color: hotpink;
}

.center-text{
    text-align: center;
}

/* https://stackoverflow.com/questions/15167545/how-to-crop-a-rectangular-image-into-a-square-with-css */
.square-image{
    object-fit: cover;
    width: 110px;
    height: 110px;
}


.menu-item{

}